<div>
  <h1>Users index</h1>
  <div>
    <h3>User name</h3>
    <p>number of posts: x</p>
  </div>
  <div>
    <h3>User name</h3>
    <p>number of posts: x</p>
  </div>
  <div>
    <h3>User name</h3>
    <p>number of posts: x</p>
  </div>
  <div>
    <h3>User name</h3>
    <p>number of posts: x</p>
  </div>
</div>