<div>
  <h1>User Show Page</h1>
  <div>
    <div>
      <h3><%= @users.name %></h3>
      <p>number of posts:<%= @users.posts.count %></p>
      <h3>Bio</h3>
      <p><%= @users.bio %></p>
    </div>
    <div>

    </div>
    <div>
      <h5>Post 1</h5>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
    </div>
    <div>
      <h5>Post 2</h5>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
    </div>
    <div>
      <h5>Post 3</h5>
      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      </p>
    </div>
  </div>
  <button> Show more</button>
</div>