<div>
  <h1>Posts show page</h1>
  <div>
    <h3>Post 1 by: username</h3>
    <span>Comments: x</span>
    <span>Likes: y</span>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
      ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div>
      <p>Username: Comment 1</p>
      <p>Username: Comment 2</p>
      <p>Username: Comment 3</p>
      <p>Username: Comment 4</p>
      <p>Username: Comment 5</p>
      <p>Username: Comment 6</p>
      <p>Username: Comment 7</p>
      <p>Username: Comment 8</p>
      <p>Username: Comment 9</p>
      <p>Username: Comment 10</p>
    </div>
  </div>
</div>